html,
body, div.container {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 1.2em;
  font-family: sans-serif;
}

div.container, form {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 5px;
}

form > input {
  flex: 0.5;
}

input, button {
  font-size: 1.5em;
}


.big-button {
  flex: 1;
  width: 90%;
  margin: auto;
  border-color: orange;
}
