<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
  <form id="room-form" class="form">
    <label for="room-name">Enter your venue name:</label>
    <input id="room-name" name="room-name" style="flex: 1;">
    <button type="submit" class="big-button">Go</button>
  </form>
</div>

<script>
  document.querySelector('#room-form').addEventListener('submit', e => {
    e.preventDefault();

    const roomName = document.getElementById('room-name').value;
    window.location.href = '/' + roomName;
  });
</script>
</body>
</html>
