<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id="container" class="container">
  <h1>
    Welcome to <b><span id="room-name">the venue</span></b>.
  </h1>

  <div id="people-counter" style="min-height: 20px">
    There is nobody else here.
  </div>

  <button id="loading-button" class="big-button">Click to start audio</button>
  <button id="clap-button" class="big-button" style="display: none">Clap</button>
</div>

<script>
  const roomName = unescape(window.location.pathname.replace('/', ''));
  document.getElementById('room-name').innerText = roomName;
  document.getElementById('clap-button').addEventListener('click', emitClap);
  const peopleCounter = document.getElementById('people-counter');

  const socket = io.connect(window.location.origin);

  socket.on('connect', () => {
    socket.emit('join-or-create-room', roomName);
  });

  socket.on('got-clap', () => {
    playClapSound();
  });

  socket.on('num-users', (num) => {
    if (num > 1) {
      peopleCounter.innerText = `There are ${num} people here`;
    } else {
      peopleCounter.innerText = 'There is nobody else here.';
    }
  });

  function emitClap() {
    socket.emit('clap');
    playClapSound();
  }

  // audio
  document.querySelector('#loading-button').addEventListener('click', async () => {
    await Tone.start();
    document.querySelector('#loading-button').style.display = 'none';
    document.querySelector('#clap-button').style.display = 'block';
  });

  const samples = {
    'C3': '/sounds/clap1.mp3',
    'D3': '/sounds/clap2.mp3',
    'E3': '/sounds/clap3.mp3',
    'F3': '/sounds/clap4.mp3',
    'G3': '/sounds/clap5.mp3',
    'A4': '/sounds/clap6.mp3',
    'B4': '/sounds/clap7.mp3'
  };
  const notes = Object.keys(samples);
  const sampler = new Tone.Sampler(samples);
  const reverb = new Tone.Convolver('/sounds/s1_r1_b.mp3');
  sampler.connect(reverb);
  reverb.wet.value = 0.2;
  reverb.toMaster();

  function playClapSound() {
    sampler.triggerAttack(notes[Math.floor(Math.random() * notes.length)]);
  }

</script>
</body>
</html>
